<div *ngIf="product" class="product-detail-container">
  <div class="row">
    <div class="col-md-6">
      <img [src]="product.image" alt="{{ product.title }}" class="img-fluid rounded">
    </div>

    <div class="col-md-6">
      <h2 class="product-title">{{ product.title }}</h2>
      <p class="product-description">{{ product.description }}</p>
      <p><strong>Price:</strong> {{ product.price | currency }}</p>
      
      <button class="btn btn-primary mt-3">Add to Cart</button>
    </div>
    <button class="btn  mt-4 " routerLink="">Back</button>

  </div>
</div>
